[user]
	name = Alastair Lockie
	email = alastair@brandwatch.com
[color]
	branch = auto
	diff = auto
	status = auto
[credential]
	helper = osxkeychain
[alias]
    l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --graph
	co = checkout
	fa = fetch --all
	lsd = ls-files --deleted
	lsu = ls-files --other --exclude-standard
	cano = commit --amend --no-edit --no-verify
    can = commit --amend --no-verify
	ca = commit --amend
	cm = commit
    lastchange = "!f() { git log -p --follow -n $1 $2; }; f"
	fu = fetch upstream
	please = push --force-with-lease
	staash = stash --include-untracked
[merge]
	tool = bcomp
[mergetool]
	prompt = false
[mergetool "bcomp"]
	cmd = "/usr/local/bin/bcomp" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
	trustExitCode = true
[rerere]
	enabled = true
[core]
	editor = vim
	excludesfile = /Users/alastair/.gitignore_global
[diff]
	algorithm = patience
    compactionHeuristic = true
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[filter "clean_ipynb"]
	clean = ipynb_drop_output
	smudge = cat
